@import "tailwindcss";
@import "flowbite";


/* Modern Dark Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a; /* Slate-950 */
}

::-webkit-scrollbar-thumb {
  background: #334155; /* Slate-700 */
  border-radius: 5px;
  border: 2px solid #0f172a; /* Creates padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #475569; /* Slate-600 */
}

/* Utility class for specific containers */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Thinner for internal lists */
}